 :root {
  --main-color: #4B0082;
  --secondary-color: #000000;
  --highlight-color: #d69b1c;
}

body { 
    font-family: sans-serif; 
    text-align: center; 
    padding: 2em; 
    background-image: url('https://mallady.net/media/spider_on.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.link { 
    font-size: 24px;
    margin: 1em 0; 
    display: block; 
    text-decoration: none; 
    padding: 1em; 
    background: var(--main-color); 
    border-radius: 8px; 
}

.link:hover { 
    background: var(--secondary-color); 
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid var(--highlight-color);
    padding: 10px;
}


.outlined-text {
    color: var(--main-color);
    text-shadow: 
        -1px -1px 0 var(--highlight-color),
        1px -1px 0 var(--highlight-color),
        -1px  1px 0 var(--highlight-color),
        1px  1px 0 var(--highlight-color);
}
    