 :root {
  --main-color: #4B0082;
  --secondary-color: #000000;
  --highlight-color: #d69b1c;
  --blur-color:#fbfbfb12;
  --title-size: 3em;
  --link-size: 1.5em;
  --description-size: 2em;
}

h1 {
    font-size: var(--title-size);
}

body { 
    font-family: sans-serif; 
    text-align: center; 
    padding: 2em; 
    background-image: url('https://mallady.net/media/spider_on.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.main-wrapper * {box-sizing: border-box;}

.main-wrapper {
    
}

.title-wrapper {

}

.link-wrapper {

}

.link { 
    color: var(--highlight-color);
    font-size: var(--link-size);
    margin: 16px 0; 
    display: block; 
    text-decoration: none; 
    padding: 16px; 
    background: var(--main-color); 
    border-radius: 8px; 
}

.link:hover { 
    background: var(--secondary-color); 
}

@media only screen and (max-width: 600px) {
    .center {
        margin: auto;
        width: 90%;
        padding: 8px;
    }
}
@media only screen and (min-width: 601px) {
    .center {
        margin: auto;
        width: 25%;
        padding: 8px;
    }
}

.center {
    background: var(--blur-color);
    backdrop-filter: blur(16px);
    border-radius: 14px
}

.outlined-div {
    border: 4px solid var(--highlight-color);
}

.outlined-text {
    color: var(--main-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--highlight-color);
}
    