<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body { font-family: sans-serif; text-align: center; padding: 2em; }
    .link { margin: 1em 0; display: block; text-decoration: none; padding: 1em; background: #eee; border-radius: 8px; }
    .link:hover { background: #ddd; }
    p {
      background-image: url('media/spider_on.png');
    }
  </style>
</head>
<body>
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
  {{ content }}
</body>
</html>